<div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
  <div class="row pt-5">
    <div class="col-lg-7 col-md-6">
      <div class="row">
        <div class="col-md-6 mb-5">
          <h3 class="text-primary mb-4">Contáctanos</h3>
          <p><i class="fa fa-map-marker-alt mr-2"></i>Calle Ejemplo 123, Madrid, España</p>
          <p><i class="fa fa-phone-alt mr-2"></i>+34 912 345 678</p>
          <p><i class="fa fa-envelope mr-2"></i>contacto&#64;portallaboral.es</p>
          <div class="d-flex justify-content-start mt-4">
            <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <h3 class="text-primary mb-4">Enlaces rápidos</h3>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Inicio</a>
            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Quiénes somos</a>
            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Ofertas de empleo</a>
            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Para empresas</a>
            <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contacto</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 mb-5">
      <h3 class="text-primary mb-4">Boletín de empleo</h3>
      <p>Suscríbete para recibir las últimas ofertas de trabajo y consejos para tu búsqueda de empleo directamente en tu correo electrónico.</p>
      <div class="w-100">
        <div class="input-group">
          <input type="text" class="form-control border-light" style="padding: 30px;"
            placeholder="Tu correo electrónico">
          <div class="input-group-append">
            <button class="btn btn-primary px-4">Suscribirse</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-top border-light mx-lg-5 py-4">
    <div class="col-md-12 text-center">
      <p class="mb-0">&copy; <span id="year"></span> Portal Laboral en Español. Todos los derechos reservados.</p>
    </div>
  </div>
</div>